
<h3>SECURE AREA. DO NOT ENTER</h3>
<br>
<div class="page-header">
	<h1>500 * 3 / 44 - 2 * 16 / 4 * 8</h1>
</div>


<%= form_tag "/puzzle_1" do %>
  <%= text_field_tag :passkey %>
  <br>
  <%= submit_tag :submit, class: "btn btn-primary btn-large" %>
<% end %>