<p class="blink">Clearance Level II Granted</p>
<br>
<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix">
      <li class="" onclick=""><a href="/kjabfasdbfasdbfv"><i class="icon-chevron-right"></i>Download SCIP</a></li>
      <li class="" onclick=""><a href="/kjabfasdbfasdbfv"><i class="icon-chevron-right"></i>Disable radial DS</a></li>
      <li class="" onclick=""><a href="/kjabfasdbfasdbfv"><i class="icon-chevron-right"></i>Toggle hexometer</a></li>
      <li class="" onclick=""><a href="/kjabfasdbfasdbfv"><i class="icon-chevron-right"></i>Sonar clean sweep</a></li>
      <li class="" onclick=""><a href="/kjabfasdbfasdbfv"><i class="icon-chevron-right"></i>Alpha survey</a></li>
      <li class="" onclick=""><a href="/kjabfasdbfasdbfv"><i class="icon-chevron-right"></i>PLP wash</a></li>
    </ul>
  </div>
  <div class="span9">
		<p class="lead">IMPORTANT: The page requires strict authorization. If you are here by accident, you can go <a href="http://www.nyan.cat/original"> look at more interesting things on the internet</a>, and forget that this portal exists. Thank you for your cooperation.</p>
	</div>
</div>
<div class="row">
	<br>
	<p style="display: none;" class="denied flashing">LEVEL II CLEARANCE REQUIRED</p>
</div>